.statistics {
  padding-bottom: 10px;
  background: khaki;
}

.title {
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0px;
  color: blue;
}

.statlist {
  display: flex;
  text-align: center;
  margin-top: 15px;
  padding: 0;
}

/* .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 50px;

  border: 1px solid black;
  background: rgb(190, 231, 148);
}

.label {
  margin-bottom: 5px;
  color: gray;
} */
